
@{
    ViewData["Title"] = "Dashboard";
}



<h1>Dashboard</h1>

<div>
    <h3>Testing</h3>
    <button id="sendsms">Send sms</button>
    <button id="sendemail">Send email</button>
    <button id="adddata">Add data</button>
    <button id="getdata">get data</button>
</div>