@model HeyDo.Models.Auth
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<div>
    <ul>
        <li id="addUser">Add User</li>
        <li id="addTask">Add Tasks</li>
    </ul>
</div>
<div>
    <ul>
        <li id="viewUsers">View Users</li>
        <li id="viewTasks">View Tasks</li>
        <li id="viewHistory">View History</li>
    </ul>
</div>

<div>
    @Model.Token    
</div>
<div>
    @Model.Uid
</div>

<script type="text/javascript" src="~/js/Dashboard.js"></script>