@model HeyDo.Models.Auth

@{
    ViewData["Title"] = ViewBag.Title;
}
<div class="log">
    <div class="Login">
        <div>
            <h3>Login</h3>
            <input type="text" id="logIn" name="userIn" placeholder="user" />
            <input type="password" id="passIn" name="passwordIn" placeholder="pass" />
            <button id="login">Submit</button>
        </div>
        <span id="createLog">Or create a login</span>
    </div>

    <div class="Create" style="display: none">
        <div >
            <h3>Create User</h3>
            <input type="text" id="logCreate" name="userCreate" placeholder="user" />
            <input type="password" id="passCreate" name="passwordCreate" placeholder="pass" />
            <button id="create">Submit</button>
        </div>
        <span id="reallyLog">Or log in</span>
    </div>
</div>

<div class="Dashboard"></div>
