@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form>

    <input type="text" id="log" name="user" placeholder="user" />
    <input type="text" id="pass" name="password" placeholder="pass" />
    <button id="login">Submit</button>

</form>

<button id="sendsms">Send sms</button>
<button id="sendemail">Send email</button>
