@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h3>Create User</h3>
    <input type="text" id="logCreate" name="userCreate" placeholder="user" />
    <input type="text" id="passCreate" name="passwordCreate" placeholder="pass" />
    <button id="create">Submit</button>
</div>

<div>
    <h3>Login</h3>
    <input type="text" id="logIn" name="userIn" placeholder="user" />
    <input type="text" id="passIn" name="passwordIn" placeholder="pass" />
    <button id="login">Submit</button>
</div>
