@model HeyDo.Models.GroupTaskSchedule

@{
    ViewData["Title"] = "RandTask";
}

<h1>RandTask</h1>

<h4>GroupTaskSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RandTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Users" class="control-label"></label>
                <br /><select asp-for="Users" class="form-control" asp-items=ViewBag.Users></select>
            </div>
            <div class="form-group">
                <label asp-for="Tasks" class="control-label"></label>
                <br /><select asp-for="Tasks" class="form-control" asp-items=ViewBag.Tasks></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
