@model HeyDo.Models.UserTaskSchedule

@{
    ViewData["Title"] = "SchedTask";
}

<h1>SchedTask</h1>
<div>I would like to send {USER} a(n) {CONTACTTYPE} telling them to {USERTASK}</div>
<div>This should happen every {X}{DAYOFWEEK} {FREQUENCY} at {TIME}</div>
<h4>UserTaskSchedule</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="SchedTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
